
/**********
 * button *
 **********/
button{
    min-height: 20px;
    min-width: 16px;
	padding: 2px 6px;
	border: 1px;
	border-radius: 0px;
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	font-weight: normal;
	color: @text_color;
	background-color: @button_normal_color;
	text-shadow: none; 
}

button.flat {
    border-color: transparent;
    background-image: none;
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 500ms;
    outline-color: rgba(254, 254, 254, 0.3);
    text-shadow: none;
}

notebook > header > tabs > arrow.image-button,
  button.image-button {
    min-width: 24px;
    padding-left: 4px;
    padding-right: 4px; }
  notebook > header > tabs > arrow.image-button.circular, 
  notebook > header > tabs > arrow.image-button.sidebar-button,
  button.image-button.circular,
  button.image-button.sidebar-button {
    padding: 6px 4px;
    border-radius: 50px;
    box-shadow: none; }
  notebook > header > tabs > arrow.text-button,
  button.text-button {
    padding-left: 16px;
    padding-right: 16px; }
  notebook > header > tabs > arrow.text-button.image-button,
  button.text-button.image-button {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px; }
    notebook > header > tabs > arrow.text-button.image-button label,
    button.text-button.image-button label {
      padding-left: 8px;
      padding-right: 8px; 
}


button:focus {
    border: @selected_bg_color 2px dotted;
    color: @alternate_fg_color;
}

button:hover {
    background-color: shade(@selected_bg_color, 0.9);
    color: @alternate_fg_color;
}

button:active,
button:active:hover,
button.toggle:checked {
    color: @alternate_bg_color;
    background-color: shade(@selected_bg_color, 0.83);
}

button:disabled {
    background-color: mix(@color8, @color0, 0.40);
    background-image: none;
    color: mix(@text_color, @color0, 0.40);
}

button:active:disabled {

}

GtkLinkButton.button,
GtkLinkButton.button:focus,
GtkLinkButton.button:hover,
GtkLinkButton.button:active,
GtkLinkButton.button:focus:active,
GtkLinkButton.button:focus:hover {

}

button.radio:checked {
    color: @fg_color;
    background-color: shade(@selected_bg_color, 0.83);
}
