.linked:not(.vertical) > spinbutton:focus:not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:focus:not(.vertical) + button, .linked:not(.vertical) > spinbutton:focus:not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:focus:not(.vertical) + entry, .linked:not(.vertical) > entry:focus + button, .linked:not(.vertical) > entry:focus + combobox > box > button.combo, .linked:not(.vertical) > entry:focus + spinbutton:not(.vertical), .linked:not(.vertical) > entry:focus + entry {
  border-left-color: #540000; }

.linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + button, .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + entry, .linked:not(.vertical) > entry:focus.error + button, .linked:not(.vertical) > entry:focus.error + combobox > box > button.combo, .linked:not(.vertical) > entry:focus.error + spinbutton:not(.vertical), .linked:not(.vertical) > entry:focus.error + entry {
  border-left-color: #200404; }

.linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + button, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + entry, .linked:not(.vertical) > entry:drop(active) + button, .linked:not(.vertical) > entry:drop(active) + combobox > box > button.combo, .linked:not(.vertical) > entry:drop(active) + spinbutton:not(.vertical), .linked:not(.vertical) > entry:drop(active) + entry {
  border-left-color: #19a187; }

.linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled), .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical), .linked.vertical > entry:not(:disabled) + entry:not(:disabled), .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical) {
  border-top-color: #21242c; }
  .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop, .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical), .linked.vertical > entry:not(:disabled) + entry:not(:disabled):backdrop, .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical) {
    border-top-color: @color0; }

.linked.vertical > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical), .linked.vertical > spinbutton:disabled:not(.vertical) + entry:disabled, .linked.vertical > entry:disabled + spinbutton:disabled:not(.vertical), .linked.vertical > entry:disabled + entry:disabled {
  border-top-color: #21242c; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:focus:not(:only-child), .linked.vertical > entry + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical > entry + entry:focus:not(:only-child) {
  border-top-color: #540000; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:focus.error:not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:focus.error:not(:only-child), .linked.vertical > entry + spinbutton:focus.error:not(:only-child):not(.vertical),
.linked.vertical > entry + entry:focus.error:not(:only-child) {
  border-top-color: #200404; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:drop(active):not(:only-child), .linked.vertical > entry + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical > entry + entry:drop(active):not(:only-child) {
  border-top-color: #19a187; }

.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:focus:not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:focus:not(:only-child) + entry,
.linked.vertical > entry:focus:not(:only-child) + button,
.linked.vertical > entry:focus:not(:only-child) + combobox > box > button.combo {
  border-top-color: #540000; }

.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:focus.error:not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:focus.error:not(:only-child) + entry,
.linked.vertical > entry:focus.error:not(:only-child) + button,
.linked.vertical > entry:focus.error:not(:only-child) + combobox > box > button.combo {
  border-top-color: #200404; }

.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:drop(active):not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:drop(active):not(:only-child) + entry,
.linked.vertical > entry:drop(active):not(:only-child) + button,
.linked.vertical > entry:drop(active):not(:only-child) + combobox > box > button.combo {
  border-top-color: #19a187; }

spinbutton.error:not(.vertical),
entry.error {
  color: @color1; }

treeview entry:focus:dir(rtl), treeview entry:focus:dir(ltr) {
  background-color: @color1;
  transition-property: color, background; }

treeview entry.flat, treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: @color1; }
  treeview entry.flat:focus, treeview entry:focus {
    border-color: @color2; }

/***********
 * Buttons *
 ***********/
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.01, to(#fe3b3b), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@color2), to(transparent)); } }

button.titlebutton, notebook > header > tabs > arrow,
button {
  min-height: 24px;
  min-width: 16px;
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 6px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @color15;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: @color0;
  background-image: image(#323643);
  box-shadow: none; }
  button.titlebutton, button.sidebar-button, notebook > header > tabs > arrow, notebook > header > tabs > arrow.flat,
  button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none; }
    button.titlebutton:hover, button.sidebar-button:hover, notebook > header > tabs > arrow:hover,
    button.flat:hover {
      transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-duration: 500ms; }
      button.titlebutton:hover:active, button.sidebar-button:hover:active, notebook > header > tabs > arrow:hover:active,
      button.flat:hover:active {
        transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  notebook > header > tabs > arrow:hover,
  button:hover {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657);
    box-shadow: none;
    -gtk-icon-effect: highlight; }
  notebook > header > tabs > arrow:active, notebook > header > tabs > arrow:checked,
  button:active,
  button:checked {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color2;
    background-image: linear-gradient(to right, @color2, @color10);
    box-shadow: 0 2px 4px rgba(236, 1, 1, 0.25);
    transition-duration: 50ms; }
  notebook > header > tabs > arrow:backdrop,
  button:backdrop.flat,
  button:backdrop {
    color: @color7;
    border-color: @color0;
    background-image: image(#323643);
    box-shadow: none;
    transition: 200ms ease-out;
    -gtk-icon-effect: none; }
    notebook > header > tabs > arrow:backdrop:active, notebook > header > tabs > arrow:backdrop:checked,
    button:backdrop.flat:active,
    button:backdrop.flat:checked,
    button:backdrop:active,
    button:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }
    notebook > header > tabs > arrow:backdrop:disabled,
    button:backdrop.flat:disabled,
    button:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }
      notebook > header > tabs > arrow:backdrop:disabled:active, notebook > header > tabs > arrow:backdrop:disabled:checked,
      button:backdrop.flat:disabled:active,
      button:backdrop.flat:disabled:checked,
      button:backdrop:disabled:active,
      button:backdrop:disabled:checked {
        color: @color7;
        border-color: @color0;
        background-image: image(#1a1d23);
        box-shadow: none; }
  button.titlebutton:backdrop, button.sidebar-button:backdrop, notebook > header > tabs > arrow:backdrop, button.titlebutton:disabled, button.sidebar-button:disabled, notebook > header > tabs > arrow:disabled,
  button.flat:backdrop,
  button.flat:disabled,
  button.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none; }
  notebook > header > tabs > arrow:disabled,
  button:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }
    notebook > header > tabs > arrow:disabled:active, notebook > header > tabs > arrow:disabled:checked,
    button:disabled:active,
    button:disabled:checked {
      color: @color7;
      border-color: @color0;
      background-image: image(#16181d);
      box-shadow: none; }
  notebook > header > tabs > arrow.image-button,
  button.image-button {
    min-width: 24px;
    padding-left: 2px;
    padding-right: 2px; }
  notebook > header > tabs > arrow.text-button,
  button.text-button {
    padding-left: 16px;
    padding-right: 16px; }
  notebook > header > tabs > arrow.text-button.image-button,
  button.text-button.image-button {
    padding-left: 8px;
    padding-right: 8px; }
    notebook > header > tabs > arrow.text-button.image-button label,
    button.text-button.image-button label {
      padding-left: 8px;
      padding-right: 8px; }
  combobox:drop(active) button.combo, notebook > header > tabs > arrow:drop(active),
  button:drop(active) {
    color: #19a187;
    border-color: #19a187;
    box-shadow: inset 0 0 0 1px #19a187; }

row:selected button.sidebar-button:not(:active):not(:checked):not(:hover):not(disabled), row:selected button.flat:not(:active):not(:checked):not(:hover):not(disabled) {
  color: @color15;
  border-color: transparent; }
  row:selected button.sidebar-button:not(:active):not(:checked):not(:hover):not(disabled):backdrop, row:selected button.flat:not(:active):not(:checked):not(:hover):not(disabled):backdrop {
    color: @color7; }


button.osd {
  min-width: 26px;
  min-height: 32px;
  color: @color15;
  border-radius: 5px;
  color: @color15;
  border-color: black;
  background-color: transparent;
  background-image: image(#303340);
  background-clip: padding-box;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black;
  outline-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: none; }

  button.osd.image-button {
    min-width: 34px; }

  button.osd:hover {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#4a5063);
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none; }

  button.osd:active,
  button.osd:checked {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(black);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none; }

  button.osd:disabled:backdrop,
  button.osd:disabled {
    color: #97999f;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(68, 72, 83, 0.5));
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    border: none; }

  button.osd:backdrop {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#303340);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    border: none; }

.app-notification button,
.app-notification.frame button, .csd popover.background.touch-selection button, .csd popover.background.magnifier button, popover.background.touch-selection button, popover.background.magnifier button, .osd button {
  color: @color15;
  border-color: black;
  background-color: transparent;
  background-image: image(#303340);
  background-clip: padding-box;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black;
  outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:hover, popover.background.touch-selection button:hover, popover.background.magnifier button:hover, .osd button:hover {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#4a5063);
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:active, popover.background.touch-selection button:active, popover.background.magnifier button:active, .app-notification button:checked, popover.background.touch-selection button:checked, popover.background.magnifier button:checked, .osd button:active:backdrop, .osd button:active, .osd button:checked:backdrop, .osd button:checked {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(black);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:disabled, popover.background.touch-selection button:disabled, popover.background.magnifier button:disabled, .osd button:disabled:backdrop, .osd button:disabled {
    color: #97999f;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(68, 72, 83, 0.5));
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .app-notification button:backdrop, popover.background.touch-selection button:backdrop, popover.background.magnifier button:backdrop, .osd button:backdrop {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#303340);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .app-notification button.flat, popover.background.touch-selection button.flat, popover.background.magnifier button.flat, .osd button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black; }
    .app-notification button.flat:hover, popover.background.touch-selection button.flat:hover, popover.background.magnifier button.flat:hover, .osd button.flat:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(#4a5063);
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .app-notification button.flat:disabled, popover.background.touch-selection button.flat:disabled, popover.background.magnifier button.flat:disabled, .osd button.flat:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      background-image: none;
      border-color: transparent;
      box-shadow: none; }
    .app-notification button.flat:backdrop, popover.background.touch-selection button.flat:backdrop, popover.background.magnifier button.flat:backdrop, .osd button.flat:backdrop {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .app-notification button.flat:active, popover.background.touch-selection button.flat:active, popover.background.magnifier button.flat:active, .app-notification button.flat:checked, popover.background.touch-selection button.flat:checked, popover.background.magnifier button.flat:checked, .osd button.flat:active, .osd button.flat:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(black);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }


button.suggested-action {
  color: @color15;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #dd0101;
  background-image: image(@color2);
  box-shadow: none; }

  button.suggested-action.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color2; }

  button.suggested-action:hover {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: @color2;
    background-image: image(#fe3636);
    box-shadow: none; }

  button.suggested-action:active,
  button.suggested-action:checked {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #a50101;
    background-image: linear-gradient(to right, #af0101, #9b0101);
    box-shadow: 0 2px 4px rgba(165, 1, 1, 0.25); }

  button.suggested-action:backdrop,
  button.suggested-action.flat:backdrop {
    color: #fbcccc;
    border-color: @color2;
    background-image: image(@color2);
    box-shadow: none; }

    button.suggested-action:backdrop:active,
    button.suggested-action:backdrop:checked,
    button.suggested-action.flat:backdrop:active,
    button.suggested-action.flat:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }

    button.suggested-action:backdrop:disabled,
    button.suggested-action.flat:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }

      button.suggested-action:backdrop:disabled:active,
      button.suggested-action:backdrop:disabled:checked,
      button.suggested-action.flat:backdrop:disabled:active,
      button.suggested-action.flat:backdrop:disabled:checked {
        color: #d25d5f;
        border-color: @color2;
        background-image: image(#ba0608);
        box-shadow: none; }

  button.suggested-action.flat:backdrop,
  button.suggested-action.flat:disabled,
  button.suggested-action.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: rgba(236, 1, 1, 0.8); }

  button.suggested-action:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }

    button.suggested-action:disabled:active,
    button.suggested-action:disabled:checked {
      color: #e09b9c;
      border-color: @color2;
      background-image: image(#b00608);
      box-shadow: none; }
  .osd button.suggested-action {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(236, 1, 1, 0.5));
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(236, 1, 1, 0.7));
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:active:backdrop, .osd button.suggested-action:active, .osd button.suggested-action:checked:backdrop, .osd button.suggested-action:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(@color2);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:disabled:backdrop, .osd button.suggested-action:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd button.suggested-action:backdrop {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(236, 1, 1, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }


button.destructive-action {
  color: @color15;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #991212;
  background-image: image(@color9);
  box-shadow: none; }

  button.destructive-action.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color9; }

  button.destructive-action:hover {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #790e0e;
    background-image: image(#e41d1d);
    box-shadow: none; }

  button.destructive-action:active,
  button.destructive-action:checked {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #670c0c;
    background-image: linear-gradient(to right, #700d0d, #5d0b0b);
    box-shadow: 0 2px 4px rgba(103, 12, 12, 0.25); }

  button.destructive-action:backdrop,
  button.destructive-action.flat:backdrop {
    color: #edd0d0;
    border-color: #790e0e;
    background-image: image(@color9);
    box-shadow: none; }

    button.destructive-action:backdrop:active,
    button.destructive-action:backdrop:checked,
    button.destructive-action.flat:backdrop:active,
    button.destructive-action.flat:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }

    button.destructive-action:backdrop:disabled,
    button.destructive-action.flat:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }

      button.destructive-action:backdrop:disabled:active,
      button.destructive-action:backdrop:disabled:checked,
      button.destructive-action.flat:backdrop:disabled:active,
      button.destructive-action.flat:backdrop:disabled:checked {
        color: #ad6667;
        border-color: #790e0e;
        background-image: image(#811415);
        box-shadow: none; }

  button.destructive-action.flat:backdrop,
  button.destructive-action.flat:disabled,
  button.destructive-action.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: rgba(166, 20, 20, 0.8); }

  button.destructive-action:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }

    button.destructive-action:disabled:active,
    button.destructive-action:disabled:checked {
      color: #c9a1a1;
      border-color: #790e0e;
      background-image: image(#791314);
      box-shadow: none; }
  .osd button.destructive-action {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(166, 20, 20, 0.5));
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(166, 20, 20, 0.7));
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:active:backdrop, .osd button.destructive-action:active, .osd button.destructive-action:checked:backdrop, .osd button.destructive-action:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(@color9);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:disabled:backdrop, .osd button.destructive-action:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd button.destructive-action:backdrop {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(166, 20, 20, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }

.stack-switcher > button {
  outline-offset: -3px; }
  .stack-switcher > button > label {
    padding-left: 6px;
    padding-right: 6px; }
  .stack-switcher > button > image {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px; }
  .stack-switcher > button.text-button {
    padding-left: 10px;
    padding-right: 10px; }
  .stack-switcher > button.image-button {
    padding-left: 2px;
    padding-right: 2px; }
  .stack-switcher > button.needs-attention:active > label,
  .stack-switcher > button.needs-attention:active > image, .stack-switcher > button.needs-attention:checked > label,
  .stack-switcher > button.needs-attention:checked > image {
    animation: none;
    background-image: none; }


button.font separator,
button.file separator {
  background-color: transparent; }


button.font > box > box > label {
  font-weight: bold; }

.primary-toolbar button {
  -gtk-icon-shadow: none; }


button.circular {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding: 2px;
  /* circles instead of ellipses */
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box; }

  button.circular label {
    padding: 0; }

  button.circular:not(.flat):not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#323643), linear-gradient(to top, black 25%, @color0 50%);
    box-shadow: none;
    border-color: transparent; }

  button.circular:hover:not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657), linear-gradient(to top, black 25%, @color0 50%);
    box-shadow: none;
    border-color: transparent; }

stacksidebar row.needs-attention > label, .stack-switcher > button.needs-attention > label,
.stack-switcher > button.needs-attention > image {
  animation: needs_attention 150ms ease-in;
  background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#fe3b3b), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.45, to(rgba(0, 0, 0, 0.873255)), to(transparent));
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  background-position: right 3px, right 2px; }
  stacksidebar row.needs-attention > label:backdrop, .stack-switcher > button.needs-attention > label:backdrop,
  .stack-switcher > button.needs-attention > image:backdrop {
    background-size: 6px 6px, 0 0; }
  stacksidebar row.needs-attention > label:dir(rtl), .stack-switcher > button.needs-attention > label:dir(rtl),
  .stack-switcher > button.needs-attention > image:dir(rtl) {
    background-position: left 3px, left 2px; }

.inline-toolbar toolbutton > button {
  color: @color15;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: @color0;
  background-image: image(#323643);
  box-shadow: none; }
  .inline-toolbar toolbutton > button:hover {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657);
    box-shadow: none; }
  .inline-toolbar toolbutton > button:active, .inline-toolbar toolbutton > button:checked {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color2;
    background-image: linear-gradient(to right, @color2, @color10);
    box-shadow: 0 2px 4px rgba(236, 1, 1, 0.25); }
  .inline-toolbar toolbutton > button:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }
    .inline-toolbar toolbutton > button:disabled:active, .inline-toolbar toolbutton > button:disabled:checked {
      color: @color7;
      border-color: @color0;
      background-image: image(#16181d);
      box-shadow: none; }
  .inline-toolbar toolbutton > button:backdrop {
    color: @color7;
    border-color: @color0;
    background-image: image(#323643);
    box-shadow: none; }
    .inline-toolbar toolbutton > button:backdrop:active, .inline-toolbar toolbutton > button:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }
    .inline-toolbar toolbutton > button:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }
      .inline-toolbar toolbutton > button:backdrop:disabled:active, .inline-toolbar toolbutton > button:backdrop:disabled:checked {
        color: @color7;
        border-color: @color0;
        background-image: image(#1a1d23);
        box-shadow: none; }

.linked:not(.vertical) > combobox > box > button.combo, filechooser .path-bar.linked > button, .linked:not(.vertical) > spinbutton:not(.vertical), .linked:not(.vertical) > entry, .inline-toolbar button, .linked > button, toolbar.inline-toolbar toolbutton > button.flat {
  border-right-style: none;
  border-radius: 0;
  -gtk-outline-radius: 0; }

.linked:not(.vertical) > combobox:first-child > box > button.combo, combobox.linked button:nth-child(2):dir(rtl), filechooser .path-bar.linked > button:dir(rtl):last-child, filechooser .path-bar.linked > button:dir(ltr):first-child, .linked:not(.vertical) > spinbutton:first-child:not(.vertical), .linked:not(.vertical) > entry:first-child, .inline-toolbar button:first-child, .linked > button:first-child, toolbar.inline-toolbar toolbutton:first-child > button.flat {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -gtk-outline-top-left-radius: 6px;
  -gtk-outline-bottom-left-radius: 6px; }

.linked:not(.vertical) > combobox:last-child > box > button.combo, combobox.linked button:nth-child(2):dir(ltr), filechooser .path-bar.linked > button:dir(rtl):first-child, filechooser .path-bar.linked > button:dir(ltr):last-child, .linked:not(.vertical) > spinbutton:last-child:not(.vertical), .linked:not(.vertical) > entry:last-child, .inline-toolbar button:last-child, .linked > button:last-child, toolbar.inline-toolbar toolbutton:last-child > button.flat {
  border-right-style: solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -gtk-outline-top-right-radius: 6px;
  -gtk-outline-bottom-right-radius: 6px; }

.linked:not(.vertical) > combobox:only-child > box > button.combo, filechooser .path-bar.linked > button:only-child, .linked:not(.vertical) > spinbutton:only-child:not(.vertical), .linked:not(.vertical) > entry:only-child, .inline-toolbar button:only-child, .linked > button:only-child, toolbar.inline-toolbar toolbutton:only-child > button.flat {
  border-style: solid;
  border-radius: 6px;
  -gtk-outline-radius: 6px; }

.linked.vertical > combobox > box > button.combo, .linked.vertical > spinbutton:not(.vertical), .linked.vertical > entry, .linked.vertical > button {
  border-style: solid solid none solid;
  border-radius: 0;
  -gtk-outline-radius: 0; }

.linked.vertical > combobox:first-child > box > button.combo, .linked.vertical > spinbutton:first-child:not(.vertical), .linked.vertical > entry:first-child, .linked.vertical > button:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -gtk-outline-top-left-radius: 6px;
  -gtk-outline-top-right-radius: 6px; }

.linked.vertical > combobox:last-child > box > button.combo, .linked.vertical > spinbutton:last-child:not(.vertical), .linked.vertical > entry:last-child, .linked.vertical > button:last-child {
  border-bottom-style: solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -gtk-outline-bottom-left-radius: 6px;
  -gtk-outline-bottom-right-radius: 6px; }

  .linked.vertical > combobox:only-child > box > button.combo, .linked.vertical > spinbutton:only-child:not(.vertical), .linked.vertical > entry:only-child, .linked.vertical > button:only-child {
  border-style: solid;
  border-radius: 6px;
  -gtk-outline-radius: 6px; }
