/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/
*:disabled {
  -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  color: @color15;
  background-color: @color0; }
  .gtkstyle-fallback:hover {
    color: @color15;
    background-color: #383d4b; }
  .gtkstyle-fallback:active {
    color: @color15;
    background-color: #0d0e11; }
  .gtkstyle-fallback:disabled {
    color: @color7;
    background-color: @color0; }
  .gtkstyle-fallback:selected {
    color: @color15;
    background-color: @color2; }

.view, iconview,
.view text,
iconview text,
textview text {
  color: @color15;
  background-color: @color0; }
  .view:backdrop, iconview:backdrop,
  .view text:backdrop,
  iconview text:backdrop,
  textview text:backdrop {
    color: #d4d5d7;
    background-color: @color8; }
    .view:backdrop:disabled, iconview:backdrop:disabled,
    .view text:backdrop:disabled,
    iconview text:backdrop:disabled,
    textview text:backdrop:disabled {
      color: @color7; }
  .view:disabled, iconview:disabled,
  .view text:disabled,
  iconview text:disabled,
  textview text:disabled {
    color: @color7;
    background-color: @color0; }
  .view:selected:focus, iconview:selected:focus, .view:selected, iconview:selected,
  .view text:selected:focus,
  iconview text:selected:focus,
  textview text:selected:focus,
  .view text:selected,
  iconview text:selected,
  textview text:selected {
    border-radius: 3px; }

textview border {
  background-color: #252831; }

.rubberband,
rubberband,
.content-view rubberband,
.content-view .rubberband,
treeview.view rubberband,
flowbox rubberband {
  border: 1px solid @color2;
  background-color: rgba(185, 1, 1, 0.2); }

flowbox flowboxchild {
  padding: 3px; }
  flowbox flowboxchild:selected {
    outline-offset: -2px; }

.content-view .tile {
  margin: 2px;
  background-color: black;
  border-radius: 0;
  padding: 0; }
  .content-view .tile:backdrop {
    background-color: #1e2128; }
  .content-view .tile:active, .content-view .tile:selected {
    background-color: @color2; }
  .content-view .tile:disabled {
    background-color: @color0; }

label {
  caret-color: currentColor; }
  label selection {
    background-color: @color2;
    color: @color15; }
  label:disabled {
    color: @color7; }
    button label:disabled {
      color: inherit; }
    label:disabled:backdrop {
      color: @color7; }
      button label:disabled:backdrop {
        color: inherit; }
  label.error {
    color: @color1; }
    label.error:disabled {
      color: rgba(191, 23, 23, 0.5); }
    label.error:disabled:backdrop {
      color: rgba(191, 23, 23, 0.4); }

.dim-label, .budgie-notification .notification-body, .budgie-switcher .notification-body, .budgie-switcher-window .notification-body, .budgie-osd .notification-body, .titlebar:not(headerbar) .subtitle,
headerbar .subtitle, label.separator {
  opacity: 0.55;
  text-shadow: none; }

assistant .sidebar {
  background-color: @color1;
  border-top: 1px solid @color0; }
  assistant .sidebar:backdrop {
    background-color: @color8;
    border-color: @color0; }

assistant.csd .sidebar {
  border-top-style: none; }

assistant .sidebar label {
  padding: 6px 12px; }

assistant .sidebar label.highlight {
  background-color: #4b4d54; }

.osd .scale-popup, .app-notification,
.app-notification.frame, .csd popover.background.osd, popover.background.osd, .csd popover.background.touch-selection, .csd popover.background.magnifier, popover.background.touch-selection, popover.background.magnifier,
.osd {
  color: @color15;
  border: none;
  background-color: #303340;
  background-clip: padding-box;
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black; }
  .osd .scale-popup:backdrop, .app-notification:backdrop, popover.background.osd:backdrop, popover.background.touch-selection:backdrop, popover.background.magnifier:backdrop,
  .osd:backdrop {
    text-shadow: none;
    -gtk-icon-shadow: none; }

/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  spinner:backdrop {
    color: @color7; }
  spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }
    spinner:checked:disabled {
      opacity: 0.5; }

/**********************
 * General Typography *
 **********************/
.large-title {
  font-weight: 300;
  font-size: 24pt; }

.title-1 {
  font-weight: 800;
  font-size: 20pt; }

.title-2 {
  font-weight: 800;
  font-size: 15pt; }

.title-3 {
  font-weight: 700;
  font-size: 15pt; }

.title-4 {
  font-weight: 700;
  font-size: 13pt; }

.heading {
  font-weight: 700;
  font-size: 11pt; }

.body {
  font-weight: 400;
  font-size: 11pt; }

.caption-heading {
  font-weight: 700;
  font-size: 9pt; }

.caption {
  font-weight: 400;
  font-size: 9pt; }
