/***************************
 * Check and Radio buttons *
 ***************************/
* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: @color1;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 24;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-color: alpha(currentColor,0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: 4px;
  -gtk-secondary-caret-color: @color2; }

/***************
 * Base States *
 ***************/
.background {
  color: @color15;
  background-color: @color0; }
  .background:backdrop {
    color: @color7;
    background-color: @color0;
    text-shadow: none;
    -gtk-icon-shadow: none; }

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/
*:disabled {
  -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  color: @color15;
  background-color: @color0; }
  .gtkstyle-fallback:hover {
    color: @color15;
    background-color: #383d4b; }
  .gtkstyle-fallback:active {
    color: @color15;
    background-color: #0d0e11; }
  .gtkstyle-fallback:disabled {
    color: @color7;
    background-color: @color0; }
  .gtkstyle-fallback:selected {
    color: @color15;
    background-color: @color2; }

.view, iconview,
.view text,
iconview text,
textview text {
  color: @color15;
  background-color: @color0; }
  .view:backdrop, iconview:backdrop,
  .view text:backdrop,
  iconview text:backdrop,
  textview text:backdrop {
    color: #d4d5d7;
    background-color: @color8; }
    .view:backdrop:disabled, iconview:backdrop:disabled,
    .view text:backdrop:disabled,
    iconview text:backdrop:disabled,
    textview text:backdrop:disabled {
      color: @color7; }
  .view:disabled, iconview:disabled,
  .view text:disabled,
  iconview text:disabled,
  textview text:disabled {
    color: @color7;
    background-color: @color0; }
  .view:selected:focus, iconview:selected:focus, .view:selected, iconview:selected,
  .view text:selected:focus,
  iconview text:selected:focus,
  textview text:selected:focus,
  .view text:selected,
  iconview text:selected,
  textview text:selected {
    border-radius: 3px; }

textview border {
  background-color: #252831; }

.rubberband,
rubberband,
.content-view rubberband,
.content-view .rubberband,
treeview.view rubberband,
flowbox rubberband {
  border: 1px solid @color2;
  background-color: rgba(185, 1, 1, 0.2); }

flowbox flowboxchild {
  padding: 3px; }
  flowbox flowboxchild:selected {
    outline-offset: -2px; }

.content-view .tile {
  margin: 2px;
  background-color: black;
  border-radius: 0;
  padding: 0; }
  .content-view .tile:backdrop {
    background-color: #1e2128; }
  .content-view .tile:active, .content-view .tile:selected {
    background-color: @color2; }
  .content-view .tile:disabled {
    background-color: @color0; }

label {
  caret-color: currentColor; }
  label selection {
    background-color: @color2;
    color: @color15; }
  label:disabled {
    color: @color7; }
    button label:disabled {
      color: inherit; }
    label:disabled:backdrop {
      color: @color7; }
      button label:disabled:backdrop {
        color: inherit; }
  label.error {
    color: @color1; }
    label.error:disabled {
      color: rgba(191, 23, 23, 0.5); }
    label.error:disabled:backdrop {
      color: rgba(191, 23, 23, 0.4); }

.dim-label, .budgie-notification .notification-body, .budgie-switcher .notification-body, .budgie-switcher-window .notification-body, .budgie-osd .notification-body, .titlebar:not(headerbar) .subtitle,
headerbar .subtitle, label.separator {
  opacity: 0.55;
  text-shadow: none; }

assistant .sidebar {
  background-color: @color1;
  border-top: 1px solid @color0; }
  assistant .sidebar:backdrop {
    background-color: @color8;
    border-color: @color0; }

assistant.csd .sidebar {
  border-top-style: none; }

assistant .sidebar label {
  padding: 6px 12px; }

assistant .sidebar label.highlight {
  background-color: #4b4d54; }

.osd .scale-popup, .app-notification,
.app-notification.frame, .csd popover.background.osd, popover.background.osd, .csd popover.background.touch-selection, .csd popover.background.magnifier, popover.background.touch-selection, popover.background.magnifier,
.osd {
  color: @color15;
  border: none;
  background-color: #303340;
  background-clip: padding-box;
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black; }
  .osd .scale-popup:backdrop, .app-notification:backdrop, popover.background.osd:backdrop, popover.background.touch-selection:backdrop, popover.background.magnifier:backdrop,
  .osd:backdrop {
    text-shadow: none;
    -gtk-icon-shadow: none; }

/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  spinner:backdrop {
    color: @color7; }
  spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }
    spinner:checked:disabled {
      opacity: 0.5; }

/**********************
 * General Typography *
 **********************/
.large-title {
  font-weight: 300;
  font-size: 24pt; }

.title-1 {
  font-weight: 800;
  font-size: 20pt; }

.title-2 {
  font-weight: 800;
  font-size: 15pt; }

.title-3 {
  font-weight: 700;
  font-size: 15pt; }

.title-4 {
  font-weight: 700;
  font-size: 13pt; }

.heading {
  font-weight: 700;
  font-size: 11pt; }

.body {
  font-weight: 400;
  font-size: 11pt; }

.caption-heading {
  font-weight: 700;
  font-size: 9pt; }

.caption {
  font-weight: 400;
  font-size: 9pt; }

/****************
 * Text Entries *
 ****************/
spinbutton:not(.vertical),
entry {
  min-height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 6px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @color15;
  border-color: @color0;
  background-color: @color1;
  box-shadow: inset 0 0 0 1px rgba(236, 1, 1, 0); }
  spinbutton:not(.vertical) image.left,
  entry image.left {
    margin-right: 6px; }
  spinbutton:not(.vertical) image.right,
  entry image.right {
    margin-left: 6px; }
  spinbutton.flat:not(.vertical),
  entry.flat:focus,
  entry.flat:backdrop,
  entry.flat:disabled,
  entry.flat {
    min-height: 0;
    padding: 2px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0; }
  spinbutton:focus:not(.vertical),
  entry:focus {
    box-shadow: inset 0 0 0 1px @color2;
    border-color: #540000; }
  spinbutton:disabled:not(.vertical),
  entry:disabled {
    color: @color7;
    border-color: @color0;
    background-color: @color0;
    box-shadow: none; }
  spinbutton:backdrop:not(.vertical),
  entry:backdrop {
    color: #d4d5d7;
    border-color: @color0;
    background-color: @color8;
    box-shadow: none;
    transition: 200ms ease-out; }
  spinbutton:backdrop:disabled:not(.vertical),
  entry:backdrop:disabled {
    color: @color7;
    border-color: @color0;
    background-color: @color0;
    box-shadow: none; }
  spinbutton.error:not(.vertical),
  entry.error {
    color: @color1;
    border-color: #200404; }
    spinbutton.error:focus:not(.vertical),
    entry.error:focus {
      box-shadow: inset 0 0 0 1px @color1;
      border-color: #200404; }
    spinbutton.error:not(.vertical) selection,
    entry.error selection {
      background-color: @color1; }
  spinbutton.warning:not(.vertical),
  entry.warning {
    color: @color3;
    border-color: @color8; }
    spinbutton.warning:focus:not(.vertical),
    entry.warning:focus {
      box-shadow: inset 0 0 0 1px @color3;
      border-color: @color8; }
    spinbutton.warning:not(.vertical) selection,
    entry.warning selection {
      background-color: @color3; }
  spinbutton:not(.vertical) image,
  entry image {
    color: #c6c7c7; }
    spinbutton:not(.vertical) image:hover,
    entry image:hover {
      color: @color15; }
    spinbutton:not(.vertical) image:active,
    entry image:active {
      color: @color2; }
    spinbutton:not(.vertical) image:backdrop,
    entry image:backdrop {
      color: @color7; }
  spinbutton:drop(active):not(.vertical),
  entry:drop(active):focus,
  entry:drop(active) {
    border-color: #19a187;
    box-shadow: inset 0 0 0 1px #19a187; }
  .osd spinbutton:not(.vertical), .osd entry {
    color: @color15;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black; }
    .osd spinbutton:focus:not(.vertical), .osd entry:focus {
      color: @color15;
      border-color: @color2;
      background-color: rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      box-shadow: inset 0 0 0 1px @color2;
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black; }
    .osd spinbutton:backdrop:not(.vertical), .osd entry:backdrop {
      color: @color15;
      border-color: black;
      background-color: rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd spinbutton:disabled:not(.vertical), .osd entry:disabled {
      color: #97999f;
      border-color: black;
      background-color: rgba(68, 72, 83, 0.5);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }

spinbutton:not(.vertical) progress,
entry progress {
  margin: 2px -6px;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: @color2;
  border-style: solid;
  box-shadow: none; }
  spinbutton:not(.vertical) progress:backdrop,
  entry progress:backdrop {
    background-color: transparent; }

.linked:not(.vertical) > spinbutton:focus:not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:focus:not(.vertical) + button, .linked:not(.vertical) > spinbutton:focus:not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:focus:not(.vertical) + entry, .linked:not(.vertical) > entry:focus + button, .linked:not(.vertical) > entry:focus + combobox > box > button.combo, .linked:not(.vertical) > entry:focus + spinbutton:not(.vertical), .linked:not(.vertical) > entry:focus + entry {
  border-left-color: #540000; }

.linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + button, .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:focus.error:not(.vertical) + entry, .linked:not(.vertical) > entry:focus.error + button, .linked:not(.vertical) > entry:focus.error + combobox > box > button.combo, .linked:not(.vertical) > entry:focus.error + spinbutton:not(.vertical), .linked:not(.vertical) > entry:focus.error + entry {
  border-left-color: #200404; }

.linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + button, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + entry, .linked:not(.vertical) > entry:drop(active) + button, .linked:not(.vertical) > entry:drop(active) + combobox > box > button.combo, .linked:not(.vertical) > entry:drop(active) + spinbutton:not(.vertical), .linked:not(.vertical) > entry:drop(active) + entry {
  border-left-color: #19a187; }

.linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled), .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical), .linked.vertical > entry:not(:disabled) + entry:not(:disabled), .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical) {
  border-top-color: #21242c; }
  .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop, .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical), .linked.vertical > entry:not(:disabled) + entry:not(:disabled):backdrop, .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical) {
    border-top-color: @color0; }

.linked.vertical > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical), .linked.vertical > spinbutton:disabled:not(.vertical) + entry:disabled, .linked.vertical > entry:disabled + spinbutton:disabled:not(.vertical), .linked.vertical > entry:disabled + entry:disabled {
  border-top-color: #21242c; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:focus:not(:only-child), .linked.vertical > entry + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical > entry + entry:focus:not(:only-child) {
  border-top-color: #540000; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:focus.error:not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:focus.error:not(:only-child), .linked.vertical > entry + spinbutton:focus.error:not(:only-child):not(.vertical),
.linked.vertical > entry + entry:focus.error:not(:only-child) {
  border-top-color: #200404; }

.linked.vertical > spinbutton:not(.vertical) + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:drop(active):not(:only-child), .linked.vertical > entry + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical > entry + entry:drop(active):not(:only-child) {
  border-top-color: #19a187; }

.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:focus:not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:focus:not(:only-child) + entry,
.linked.vertical > entry:focus:not(:only-child) + button,
.linked.vertical > entry:focus:not(:only-child) + combobox > box > button.combo {
  border-top-color: #540000; }

.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:focus.error:not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:focus.error:not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:focus.error:not(:only-child) + entry,
.linked.vertical > entry:focus.error:not(:only-child) + button,
.linked.vertical > entry:focus.error:not(:only-child) + combobox > box > button.combo {
  border-top-color: #200404; }

.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical > entry:drop(active):not(:only-child) + spinbutton:not(.vertical),
.linked.vertical > entry:drop(active):not(:only-child) + entry,
.linked.vertical > entry:drop(active):not(:only-child) + button,
.linked.vertical > entry:drop(active):not(:only-child) + combobox > box > button.combo {
  border-top-color: #19a187; }

spinbutton.error:not(.vertical),
entry.error {
  color: @color1; }

treeview entry:focus:dir(rtl), treeview entry:focus:dir(ltr) {
  background-color: @color1;
  transition-property: color, background; }

treeview entry.flat, treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: @color1; }
  treeview entry.flat:focus, treeview entry:focus {
    border-color: @color2; }

.entry-tag {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-style: none;
  color: @color1;
  background-color: #8b8c90; }
  :dir(ltr) .entry-tag {
    margin-left: 8px;
    margin-right: -5px; }
  :dir(rtl) .entry-tag {
    margin-left: -5px;
    margin-right: 8px; }
  .entry-tag:hover {
    background-color: #a5a6a9; }
  :backdrop .entry-tag {
    color: @color8;
    background-color: #595b62; }
  .entry-tag.button {
    background-color: transparent;
    color: rgba(39, 42, 52, 0.7); }
  :not(:backdrop) .entry-tag.button:hover {
    border: 1px solid #8b8c90;
    color: @color1; }
  :not(:backdrop) .entry-tag.button:active {
    background-color: #8b8c90;
    color: rgba(39, 42, 52, 0.7); }

/***********
 * Buttons *
 ***********/
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.01, to(#fe3b3b), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@color2), to(transparent)); } }

button.titlebutton, notebook > header > tabs > arrow,
button {
  min-height: 24px;
  min-width: 16px;
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 6px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @color15;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: @color0;
  background-image: image(#323643);
  box-shadow: none; }
  button.titlebutton, button.sidebar-button, notebook > header > tabs > arrow, notebook > header > tabs > arrow.flat,
  button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none; }
    button.titlebutton:hover, button.sidebar-button:hover, notebook > header > tabs > arrow:hover,
    button.flat:hover {
      transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-duration: 500ms; }
      button.titlebutton:hover:active, button.sidebar-button:hover:active, notebook > header > tabs > arrow:hover:active,
      button.flat:hover:active {
        transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  notebook > header > tabs > arrow:hover,
  button:hover {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657);
    box-shadow: none;
    -gtk-icon-effect: highlight; }
  notebook > header > tabs > arrow:active, notebook > header > tabs > arrow:checked,
  button:active,
  button:checked {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color2;
    background-image: linear-gradient(to right, @color2, @color10);
    box-shadow: 0 2px 4px rgba(236, 1, 1, 0.25);
    transition-duration: 50ms; }
  notebook > header > tabs > arrow:backdrop,
  button:backdrop.flat,
  button:backdrop {
    color: @color7;
    border-color: @color0;
    background-image: image(#323643);
    box-shadow: none;
    transition: 200ms ease-out;
    -gtk-icon-effect: none; }
    notebook > header > tabs > arrow:backdrop:active, notebook > header > tabs > arrow:backdrop:checked,
    button:backdrop.flat:active,
    button:backdrop.flat:checked,
    button:backdrop:active,
    button:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }
    notebook > header > tabs > arrow:backdrop:disabled,
    button:backdrop.flat:disabled,
    button:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }
      notebook > header > tabs > arrow:backdrop:disabled:active, notebook > header > tabs > arrow:backdrop:disabled:checked,
      button:backdrop.flat:disabled:active,
      button:backdrop.flat:disabled:checked,
      button:backdrop:disabled:active,
      button:backdrop:disabled:checked {
        color: @color7;
        border-color: @color0;
        background-image: image(#1a1d23);
        box-shadow: none; }
  button.titlebutton:backdrop, button.sidebar-button:backdrop, notebook > header > tabs > arrow:backdrop, button.titlebutton:disabled, button.sidebar-button:disabled, notebook > header > tabs > arrow:disabled,
  button.flat:backdrop,
  button.flat:disabled,
  button.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none; }
  notebook > header > tabs > arrow:disabled,
  button:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }
    notebook > header > tabs > arrow:disabled:active, notebook > header > tabs > arrow:disabled:checked,
    button:disabled:active,
    button:disabled:checked {
      color: @color7;
      border-color: @color0;
      background-image: image(#16181d);
      box-shadow: none; }
  notebook > header > tabs > arrow.image-button,
  button.image-button {
    min-width: 24px;
    padding-left: 2px;
    padding-right: 2px; }
  notebook > header > tabs > arrow.text-button,
  button.text-button {
    padding-left: 16px;
    padding-right: 16px; }
  notebook > header > tabs > arrow.text-button.image-button,
  button.text-button.image-button {
    padding-left: 8px;
    padding-right: 8px; }
    notebook > header > tabs > arrow.text-button.image-button label,
    button.text-button.image-button label {
      padding-left: 8px;
      padding-right: 8px; }
  combobox:drop(active) button.combo, notebook > header > tabs > arrow:drop(active),
  button:drop(active) {
    color: #19a187;
    border-color: #19a187;
    box-shadow: inset 0 0 0 1px #19a187; }

row:selected button.sidebar-button:not(:active):not(:checked):not(:hover):not(disabled), row:selected button.flat:not(:active):not(:checked):not(:hover):not(disabled) {
  color: @color15;
  border-color: transparent; }
  row:selected button.sidebar-button:not(:active):not(:checked):not(:hover):not(disabled):backdrop, row:selected button.flat:not(:active):not(:checked):not(:hover):not(disabled):backdrop {
    color: @color7; }


button.osd {
  min-width: 26px;
  min-height: 32px;
  color: @color15;
  border-radius: 5px;
  color: @color15;
  border-color: black;
  background-color: transparent;
  background-image: image(#303340);
  background-clip: padding-box;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black;
  outline-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: none; }

  button.osd.image-button {
    min-width: 34px; }

  button.osd:hover {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#4a5063);
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none; }

  button.osd:active,
  button.osd:checked {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(black);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none; }

  button.osd:disabled:backdrop,
  button.osd:disabled {
    color: #97999f;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(68, 72, 83, 0.5));
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    border: none; }

  button.osd:backdrop {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#303340);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    border: none; }

.app-notification button,
.app-notification.frame button, .csd popover.background.touch-selection button, .csd popover.background.magnifier button, popover.background.touch-selection button, popover.background.magnifier button, .osd button {
  color: @color15;
  border-color: black;
  background-color: transparent;
  background-image: image(#303340);
  background-clip: padding-box;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black;
  outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:hover, popover.background.touch-selection button:hover, popover.background.magnifier button:hover, .osd button:hover {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#4a5063);
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:active, popover.background.touch-selection button:active, popover.background.magnifier button:active, .app-notification button:checked, popover.background.touch-selection button:checked, popover.background.magnifier button:checked, .osd button:active:backdrop, .osd button:active, .osd button:checked:backdrop, .osd button:checked {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(black);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: rgba(255, 255, 255, 0.3); }
  .app-notification button:disabled, popover.background.touch-selection button:disabled, popover.background.magnifier button:disabled, .osd button:disabled:backdrop, .osd button:disabled {
    color: #97999f;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(68, 72, 83, 0.5));
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .app-notification button:backdrop, popover.background.touch-selection button:backdrop, popover.background.magnifier button:backdrop, .osd button:backdrop {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#303340);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .app-notification button.flat, popover.background.touch-selection button.flat, popover.background.magnifier button.flat, .osd button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black; }
    .app-notification button.flat:hover, popover.background.touch-selection button.flat:hover, popover.background.magnifier button.flat:hover, .osd button.flat:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(#4a5063);
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .app-notification button.flat:disabled, popover.background.touch-selection button.flat:disabled, popover.background.magnifier button.flat:disabled, .osd button.flat:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      background-image: none;
      border-color: transparent;
      box-shadow: none; }
    .app-notification button.flat:backdrop, popover.background.touch-selection button.flat:backdrop, popover.background.magnifier button.flat:backdrop, .osd button.flat:backdrop {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .app-notification button.flat:active, popover.background.touch-selection button.flat:active, popover.background.magnifier button.flat:active, .app-notification button.flat:checked, popover.background.touch-selection button.flat:checked, popover.background.magnifier button.flat:checked, .osd button.flat:active, .osd button.flat:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(black);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }


button.suggested-action {
  color: @color15;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #dd0101;
  background-image: image(@color2);
  box-shadow: none; }

  button.suggested-action.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color2; }

  button.suggested-action:hover {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: @color2;
    background-image: image(#fe3636);
    box-shadow: none; }

  button.suggested-action:active,
  button.suggested-action:checked {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #a50101;
    background-image: linear-gradient(to right, #af0101, #9b0101);
    box-shadow: 0 2px 4px rgba(165, 1, 1, 0.25); }

  button.suggested-action:backdrop,
  button.suggested-action.flat:backdrop {
    color: #fbcccc;
    border-color: @color2;
    background-image: image(@color2);
    box-shadow: none; }

    button.suggested-action:backdrop:active,
    button.suggested-action:backdrop:checked,
    button.suggested-action.flat:backdrop:active,
    button.suggested-action.flat:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }

    button.suggested-action:backdrop:disabled,
    button.suggested-action.flat:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }

      button.suggested-action:backdrop:disabled:active,
      button.suggested-action:backdrop:disabled:checked,
      button.suggested-action.flat:backdrop:disabled:active,
      button.suggested-action.flat:backdrop:disabled:checked {
        color: #d25d5f;
        border-color: @color2;
        background-image: image(#ba0608);
        box-shadow: none; }

  button.suggested-action.flat:backdrop,
  button.suggested-action.flat:disabled,
  button.suggested-action.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: rgba(236, 1, 1, 0.8); }

  button.suggested-action:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }

    button.suggested-action:disabled:active,
    button.suggested-action:disabled:checked {
      color: #e09b9c;
      border-color: @color2;
      background-image: image(#b00608);
      box-shadow: none; }
  .osd button.suggested-action {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(236, 1, 1, 0.5));
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(236, 1, 1, 0.7));
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:active:backdrop, .osd button.suggested-action:active, .osd button.suggested-action:checked:backdrop, .osd button.suggested-action:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(@color2);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.suggested-action:disabled:backdrop, .osd button.suggested-action:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd button.suggested-action:backdrop {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(236, 1, 1, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }


button.destructive-action {
  color: @color15;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #991212;
  background-image: image(@color9);
  box-shadow: none; }

  button.destructive-action.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color9; }

  button.destructive-action:hover {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #790e0e;
    background-image: image(#e41d1d);
    box-shadow: none; }

  button.destructive-action:active,
  button.destructive-action:checked {
    color: @color15;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #670c0c;
    background-image: linear-gradient(to right, #700d0d, #5d0b0b);
    box-shadow: 0 2px 4px rgba(103, 12, 12, 0.25); }

  button.destructive-action:backdrop,
  button.destructive-action.flat:backdrop {
    color: #edd0d0;
    border-color: #790e0e;
    background-image: image(@color9);
    box-shadow: none; }

    button.destructive-action:backdrop:active,
    button.destructive-action:backdrop:checked,
    button.destructive-action.flat:backdrop:active,
    button.destructive-action.flat:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }

    button.destructive-action:backdrop:disabled,
    button.destructive-action.flat:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }

      button.destructive-action:backdrop:disabled:active,
      button.destructive-action:backdrop:disabled:checked,
      button.destructive-action.flat:backdrop:disabled:active,
      button.destructive-action.flat:backdrop:disabled:checked {
        color: #ad6667;
        border-color: #790e0e;
        background-image: image(#811415);
        box-shadow: none; }

  button.destructive-action.flat:backdrop,
  button.destructive-action.flat:disabled,
  button.destructive-action.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: rgba(166, 20, 20, 0.8); }

  button.destructive-action:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }

    button.destructive-action:disabled:active,
    button.destructive-action:disabled:checked {
      color: #c9a1a1;
      border-color: #790e0e;
      background-image: image(#791314);
      box-shadow: none; }
  .osd button.destructive-action {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(rgba(166, 20, 20, 0.5));
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(166, 20, 20, 0.7));
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:active:backdrop, .osd button.destructive-action:active, .osd button.destructive-action:checked:backdrop, .osd button.destructive-action:checked {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(@color9);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd button.destructive-action:disabled:backdrop, .osd button.destructive-action:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd button.destructive-action:backdrop {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(166, 20, 20, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }

.stack-switcher > button {
  outline-offset: -3px; }
  .stack-switcher > button > label {
    padding-left: 6px;
    padding-right: 6px; }
  .stack-switcher > button > image {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px; }
  .stack-switcher > button.text-button {
    padding-left: 10px;
    padding-right: 10px; }
  .stack-switcher > button.image-button {
    padding-left: 2px;
    padding-right: 2px; }
  .stack-switcher > button.needs-attention:active > label,
  .stack-switcher > button.needs-attention:active > image, .stack-switcher > button.needs-attention:checked > label,
  .stack-switcher > button.needs-attention:checked > image {
    animation: none;
    background-image: none; }


button.font separator,
button.file separator {
  background-color: transparent; }


button.font > box > box > label {
  font-weight: bold; }

.primary-toolbar button {
  -gtk-icon-shadow: none; }


button.circular {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding: 2px;
  /* circles instead of ellipses */
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box; }

  button.circular label {
    padding: 0; }

  button.circular:not(.flat):not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#323643), linear-gradient(to top, black 25%, @color0 50%);
    box-shadow: none;
    border-color: transparent; }

  button.circular:hover:not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657), linear-gradient(to top, black 25%, @color0 50%);
    box-shadow: none;
    border-color: transparent; }

stacksidebar row.needs-attention > label, .stack-switcher > button.needs-attention > label,
.stack-switcher > button.needs-attention > image {
  animation: needs_attention 150ms ease-in;
  background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#fe3b3b), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.45, to(rgba(0, 0, 0, 0.873255)), to(transparent));
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  background-position: right 3px, right 2px; }
  stacksidebar row.needs-attention > label:backdrop, .stack-switcher > button.needs-attention > label:backdrop,
  .stack-switcher > button.needs-attention > image:backdrop {
    background-size: 6px 6px, 0 0; }
  stacksidebar row.needs-attention > label:dir(rtl), .stack-switcher > button.needs-attention > label:dir(rtl),
  .stack-switcher > button.needs-attention > image:dir(rtl) {
    background-position: left 3px, left 2px; }

.inline-toolbar toolbutton > button {
  color: @color15;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: @color0;
  background-image: image(#323643);
  box-shadow: none; }
  .inline-toolbar toolbutton > button:hover {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657);
    box-shadow: none; }
  .inline-toolbar toolbutton > button:active, .inline-toolbar toolbutton > button:checked {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color2;
    background-image: linear-gradient(to right, @color2, @color10);
    box-shadow: 0 2px 4px rgba(236, 1, 1, 0.25); }
  .inline-toolbar toolbutton > button:disabled {
    color: @color7;
    border-color: @color0;
    background-image: image(@color0);
    box-shadow: none; }
    .inline-toolbar toolbutton > button:disabled:active, .inline-toolbar toolbutton > button:disabled:checked {
      color: @color7;
      border-color: @color0;
      background-image: image(#16181d);
      box-shadow: none; }
  .inline-toolbar toolbutton > button:backdrop {
    color: @color7;
    border-color: @color0;
    background-image: image(#323643);
    box-shadow: none; }
    .inline-toolbar toolbutton > button:backdrop:active, .inline-toolbar toolbutton > button:backdrop:checked {
      color: @color15;
      border-color: @color2;
      background-image: image(#c4080a);
      box-shadow: none; }
    .inline-toolbar toolbutton > button:backdrop:disabled {
      color: @color7;
      border-color: @color0;
      background-image: image(@color0);
      box-shadow: none; }
      .inline-toolbar toolbutton > button:backdrop:disabled:active, .inline-toolbar toolbutton > button:backdrop:disabled:checked {
        color: @color7;
        border-color: @color0;
        background-image: image(#1a1d23);
        box-shadow: none; }

.linked:not(.vertical) > combobox > box > button.combo, filechooser .path-bar.linked > button, .linked:not(.vertical) > spinbutton:not(.vertical), .linked:not(.vertical) > entry, .inline-toolbar button, .linked > button, toolbar.inline-toolbar toolbutton > button.flat {
  border-right-style: none;
  border-radius: 0;
  -gtk-outline-radius: 0; }

.linked:not(.vertical) > combobox:first-child > box > button.combo, combobox.linked button:nth-child(2):dir(rtl), filechooser .path-bar.linked > button:dir(rtl):last-child, filechooser .path-bar.linked > button:dir(ltr):first-child, .linked:not(.vertical) > spinbutton:first-child:not(.vertical), .linked:not(.vertical) > entry:first-child, .inline-toolbar button:first-child, .linked > button:first-child, toolbar.inline-toolbar toolbutton:first-child > button.flat {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -gtk-outline-top-left-radius: 6px;
  -gtk-outline-bottom-left-radius: 6px; }

.linked:not(.vertical) > combobox:last-child > box > button.combo, combobox.linked button:nth-child(2):dir(ltr), filechooser .path-bar.linked > button:dir(rtl):first-child, filechooser .path-bar.linked > button:dir(ltr):last-child, .linked:not(.vertical) > spinbutton:last-child:not(.vertical), .linked:not(.vertical) > entry:last-child, .inline-toolbar button:last-child, .linked > button:last-child, toolbar.inline-toolbar toolbutton:last-child > button.flat {
  border-right-style: solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -gtk-outline-top-right-radius: 6px;
  -gtk-outline-bottom-right-radius: 6px; }

.linked:not(.vertical) > combobox:only-child > box > button.combo, filechooser .path-bar.linked > button:only-child, .linked:not(.vertical) > spinbutton:only-child:not(.vertical), .linked:not(.vertical) > entry:only-child, .inline-toolbar button:only-child, .linked > button:only-child, toolbar.inline-toolbar toolbutton:only-child > button.flat {
  border-style: solid;
  border-radius: 6px;
  -gtk-outline-radius: 6px; }

.linked.vertical > combobox > box > button.combo, .linked.vertical > spinbutton:not(.vertical), .linked.vertical > entry, .linked.vertical > button {
  border-style: solid solid none solid;
  border-radius: 0;
  -gtk-outline-radius: 0; }

.linked.vertical > combobox:first-child > box > button.combo, .linked.vertical > spinbutton:first-child:not(.vertical), .linked.vertical > entry:first-child, .linked.vertical > button:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -gtk-outline-top-left-radius: 6px;
  -gtk-outline-top-right-radius: 6px; }

.linked.vertical > combobox:last-child > box > button.combo, .linked.vertical > spinbutton:last-child:not(.vertical), .linked.vertical > entry:last-child, .linked.vertical > button:last-child {
  border-bottom-style: solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -gtk-outline-bottom-left-radius: 6px;
  -gtk-outline-bottom-right-radius: 6px; }

.linked.vertical > combobox:only-child > box > button.combo, .linked.vertical > spinbutton:only-child:not(.vertical), .linked.vertical > entry:only-child, .linked.vertical > button:only-child {
  border-style: solid;
  border-radius: 6px;
  -gtk-outline-radius: 6px; }

.scale-popup button:backdrop:hover, .scale-popup button:backdrop:disabled, .scale-popup button:backdrop, .scale-popup button:hover, calendar.button, button:link:hover, button:link:active, button:link:checked,
button:visited:hover,
button:visited:active,
button:visited:checked, button:link,
button:visited, list row button.image-button:not(.flat), modelbutton.flat:backdrop, modelbutton.flat:backdrop:hover, modelbutton.flat,
.menuitem.button.flat {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none; }

/* menu buttons */
modelbutton.flat,
.menuitem.button.flat {
  min-height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
  outline-offset: -2px; }
  modelbutton.flat:hover,
  .menuitem.button.flat:hover {
    background-color: @color8; }

modelbutton.flat arrow {
  background: none; }
  modelbutton.flat arrow:hover {
    background: none; }
  modelbutton.flat arrow.left {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
  modelbutton.flat arrow.right {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

button.color {
  padding: 4px; }
  button.color colorswatch:only-child, button.color colorswatch:only-child overlay {
    border-radius: 0; }

/* list buttons */
/* tone down as per new designs, see issue #1473, #1748 */
list row button.image-button:not(.flat) {
  border: 1px solid rgba(19, 21, 26, 0.5); }
  list row button.image-button:not(.flat):hover {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color0;
    background-image: image(#414657);
    box-shadow: none; }
  list row button.image-button:not(.flat):active, list row button.image-button:not(.flat):checked {
    color: @color15;
    outline-color: rgba(238, 238, 236, 0.3);
    border-color: @color2;
    background-image: linear-gradient(to right, @color2, @color10);
    box-shadow: 0 2px 4px rgba(236, 1, 1, 0.25); }

/*********
 * Links *
 *********/
button:link > label,
button:visited > label, button:link,
button:visited,
*:link {
  color: #fe5555; }
  button:link > label:visited,
  button:visited > label:visited,
  button:visited,
  *:link:visited {
    color: #fe2222; }
    *:selected button:link > label:visited,
    *:selected button:visited > label:visited,
    *:selected button:visited, *:selected *:link:visited {
      color: #ffa7a7; }
  button:link > label:hover,
  button:visited > label:hover, button:hover:link,
  button:hover:visited,
  *:link:hover {
    color: #fe8888; }
    *:selected button:link > label:hover,
    *:selected button:visited > label:hover, *:selected button:hover:link,
    *:selected button:hover:visited, *:selected *:link:hover {
      color: #fff3f3; }
  button:link > label:active,
  button:visited > label:active, button:active:link,
  button:active:visited,
  *:link:active {
    color: #fe5555; }
    *:selected button:link > label:active,
    *:selected button:visited > label:active, *:selected button:active:link,
    *:selected button:active:visited, *:selected *:link:active {
      color: #ffdddd; }
  button:link > label:disabled,
  button:visited > label:disabled, button:disabled:link,
  button:disabled:visited,
  *:link:disabled,
  *:link:disabled:backdrop {
    color: rgba(170, 170, 170, 0.8); }
  button:link > label:backdrop,
  button:visited > label:backdrop, button:backdrop:link,
  button:backdrop:visited,
  *:link:backdrop:backdrop:hover,
  *:link:backdrop:backdrop:hover:selected,
  *:link:backdrop {
    color: rgba(254, 85, 85, 0.9); }
  .selection-mode .titlebar:not(headerbar) .subtitle:link, .selection-mode.titlebar:not(headerbar) .subtitle:link, .selection-mode headerbar .subtitle:link,
  headerbar.selection-mode .subtitle:link, button:link > label:selected,
  button:visited > label:selected, button:selected:link,
  button:selected:visited, *:selected button:link > label,
  *:selected button:visited > label, *:selected button:link,
  *:selected button:visited,
  *:link:selected, *:selected *:link {
    color: #ffdddd; }

button:link,
button:visited {
  text-shadow: none; }
  button:link:hover, button:link:active, button:link:checked,
  button:visited:hover,
  button:visited:active,
  button:visited:checked {
    text-shadow: none; }
  button:link > label,
  button:visited > label {
    text-decoration-line: underline; }

/*****************
 * GtkSpinButton *
 *****************/
spinbutton {
  font-feature-settings: "tnum"; }
  spinbutton:not(.vertical) {
    padding: 0; }
    .osd spinbutton:not(.vertical) entry, spinbutton:not(.vertical) entry {
      min-width: 28px;
      margin: 0;
      background: none;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none; }
      spinbutton:not(.vertical) entry:backdrop:disabled {
        background-color: transparent; }
    spinbutton:not(.vertical) button {
      min-height: 16px;
      margin: 0;
      padding-bottom: 0;
      padding-top: 0;
      color: #dadada;
      background-image: none;
      border-style: none none none solid;
      border-color: rgba(19, 21, 26, 0.3);
      border-radius: 0;
      box-shadow: none; }
      spinbutton:not(.vertical) button:dir(rtl) {
        border-style: none solid none none; }
      spinbutton:not(.vertical) button:hover {
        color: @color15;
        background-color: rgba(238, 238, 236, 0.05); }
      spinbutton:not(.vertical) button:disabled {
        color: rgba(136, 138, 141, 0.3);
        background-color: transparent; }
      spinbutton:not(.vertical) button:active {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.2); }
      spinbutton:not(.vertical) button:backdrop {
        color: #7f8184;
        background-color: transparent;
        border-color: rgba(19, 21, 26, 0.3);
        transition: 200ms ease-out; }
      spinbutton:not(.vertical) button:backdrop:disabled {
        color: rgba(67, 73, 90, 0.3);
        background-color: transparent;
        background-image: none;
        border-style: none none none solid; }
        spinbutton:not(.vertical) button:backdrop:disabled:dir(rtl) {
          border-style: none solid none none; }
      spinbutton:not(.vertical) button:dir(ltr):last-child {
        border-radius: 0 6px 6px 0; }
      spinbutton:not(.vertical) button:dir(rtl):first-child {
        border-radius: 6px 0 0 6px; }
  .osd spinbutton:not(.vertical) button {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color15;
    border-style: none none none solid;
    border-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    box-shadow: none;
    -gtk-icon-shadow: 0 1px black; }
    .osd spinbutton:not(.vertical) button:dir(rtl) {
      border-style: none solid none none; }
    .osd spinbutton:not(.vertical) button:hover {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: @color15;
      border-color: rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
      -gtk-icon-shadow: 0 1px black;
      box-shadow: none; }
    .osd spinbutton:not(.vertical) button:backdrop {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: @color15;
      border-color: rgba(0, 0, 0, 0.5);
      -gtk-icon-shadow: none;
      box-shadow: none; }
    .osd spinbutton:not(.vertical) button:disabled {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: #97999f;
      border-color: rgba(0, 0, 0, 0.5);
      -gtk-icon-shadow: none;
      box-shadow: none; }
    .osd spinbutton:not(.vertical) button:dir(ltr):last-child {
      border-radius: 0 6px 6px 0; }
    .osd spinbutton:not(.vertical) button:dir(rtl):first-child {
      border-radius: 6px 0 0 6px; }
  spinbutton.vertical:disabled {
    color: @color7; }
  spinbutton.vertical:backdrop:disabled {
    color: @color7; }
  spinbutton.vertical:drop(active) {
    border-color: transparent;
    box-shadow: none; }
  spinbutton.vertical entry {
    min-height: 32px;
    min-width: 32px;
    padding: 0;
    border-radius: 0; }
  spinbutton.vertical button {
    min-height: 32px;
    min-width: 32px;
    padding: 0; }
  spinbutton.vertical button.up {
    border-radius: 6px 6px 0 0;
    border-style: solid solid none solid; }
  spinbutton.vertical button.down {
    border-radius: 0 0 6px 6px;
    border-style: none solid solid solid; }
  .osd spinbutton.vertical button:first-child {
    color: @color15;
    border-color: black;
    background-color: transparent;
    background-image: image(#303340);
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(255, 255, 255, 0.3); }
    .osd spinbutton.vertical button:first-child:hover {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(#4a5063);
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd spinbutton.vertical button:first-child:active {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(black);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(255, 255, 255, 0.3); }
    .osd spinbutton.vertical button:first-child:disabled {
      color: #97999f;
      border-color: black;
      background-color: transparent;
      background-image: image(rgba(68, 72, 83, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd spinbutton.vertical button:first-child:backdrop {
      color: @color15;
      border-color: black;
      background-color: transparent;
      background-image: image(#303340);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
  treeview spinbutton:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0; }
    treeview spinbutton:not(.vertical) entry {
      min-height: 0;
      padding: 1px 2px; }

/**************
 * ComboBoxes *
 **************/
combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px; }

combobox:drop(active) {
  box-shadow: none; }

