treeview entry:focus:dir(rtl), treeview entry:focus:dir(ltr) {
  background-color: @color1;
  transition-property: color, background; }

treeview entry.flat, treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: @color1; }
  treeview entry.flat:focus, treeview entry:focus {
    border-color: @color2; }

.entry-tag {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-style: none;
  color: @color1;
  background-color: #8b8c90; }
  :dir(ltr) .entry-tag {
    margin-left: 8px;
    margin-right: -5px; }
  :dir(rtl) .entry-tag {
    margin-left: -5px;
    margin-right: 8px; }
  .entry-tag:hover {
    background-color: #a5a6a9; }
  :backdrop .entry-tag {
    color: @color8;
    background-color: #595b62; }
  .entry-tag.button {
    background-color: transparent;
    color: rgba(39, 42, 52, 0.7); }
  :not(:backdrop) .entry-tag.button:hover {
    border: 1px solid #8b8c90;
    color: @color1; }
  :not(:backdrop) .entry-tag.button:active {
    background-color: #8b8c90;
    color: rgba(39, 42, 52, 0.7); }
